<mat-tab-group>
  <mat-tab label="Próximos">
    <div *ngIf="!upcomingMatches" class="no-matches-container">
      <mat-icon class="no-matches-icon">sports_soccer</mat-icon>
      <span>No hay próximos partidos!</span>
    </div>
    <div class="match-container">
      <div *ngFor="let group of groupedUpcomingMatches | keyvalue">
        <div class="group-title">{{ group.key }}</div>
        <ng-container *ngFor="let match of group.value">
          <app-admin-match-card *ngIf="isAdmin" [match]="match"></app-admin-match-card>
          <app-match-card *ngIf="!isAdmin" [match]="match"></app-match-card>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Finalizados">
    <div *ngIf="!finishedMatches" class="no-matches-container">
      <span>No hay partidos finalizados</span>
    </div>
    <div class="match-container">
      <div *ngFor="let group of groupedFinishedMatches | keyvalue">
        <div class="group-title">{{ group.key }}</div>
        <ng-container *ngFor="let match of group.value">
          <app-admin-match-card *ngIf="isAdmin" [match]="match"></app-admin-match-card>
          <app-match-card *ngIf="!isAdmin" [match]="match"></app-match-card>
        </ng-container>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
