   <mat-tab-group>
    <mat-tab label="Próximos">
      <div *ngIf="!upcomingMatches" class="no-matches-container">
        <mat-icon class="no-matches-icon">sports_soccer</mat-icon>
        <span>No hay próximos partidos!</span>
      </div>
      <ng-container *ngFor="let match of upcomingMatches">
        <app-match-card [match]="match"></app-match-card>
      </ng-container>
    </mat-tab>
    <mat-tab label="Finalizados">
      <div *ngIf="!finishedMatches" class="no-matches-container">
        <span>No finished matches</span>
      </div>
      <ng-container *ngFor="let match of finishedMatches">
        <app-match-card [match]="match"></app-match-card>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
  