<div class="champion-prediction">
  <div class="info">
    <h1 mat-dialog-title>Ingresá tus predicciones</h1>
    <h2 class="subtitle">Piensa bien! No podrás cambiar tus predicciones luego.</h2> 
  </div>
  <div mat-dialog-content class="form">
    <form [formGroup]="predictionForm">
      <mat-form-field appearance="fill">
        <mat-label>Campeón</mat-label>
        <mat-select formControlName="champion" (selectionChange)="onSelectTeam($event.value, 'champion')">
          <mat-option *ngFor="let team of teams" [value]="team">
            <span class="mat-option-text">
              <img [src]="team.url_logo" alt="{{ team.name }}" width="24"> {{ team.name }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Subcampeón</mat-label>
        <mat-select formControlName="subChampion" (selectionChange)="onSelectTeam($event.value, 'subChampion')">
          <mat-option *ngFor="let team of teams" [value]="team">
            <span class="mat-option-text">
              <img [src]="team.url_logo" alt="{{ team.name }}" width="24"> {{ team.name }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()" color="basic">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="!predictionForm?.valid" color="primary" (click)="postChampionsPrediction()">Guardar</button>
  </div>
</div>
