.mat-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This will center the modal content vertically */
    padding: 24px;
    box-sizing: border-box;
    max-width: 600px;
    width: auto; /* Adjust width to fit content */
    margin: 0 auto; /* Centers the modal horizontally in the overlay */
  }
  
  .champion-prediction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width of its container */
    background-color: #f5f5f5;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  }
  
  .form, .info {
    width: 100%; /* Ensures these elements take full width of their parent */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mat-form-field {
    width: 100%; /* Each form field takes full width */
    margin-top: 20px; /* Adds space between form fields */
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: space-around; /* This distributes buttons evenly */
    width: 100%; /* Actions take full width */
  }
  
  .close-button {
    position: absolute;
    right: 12px; /* Adjusts right spacing */
    top: 12px; /* Adjusts top spacing */
    color: gray;
    z-index: 1000; /* Ensures the button is above all other elements */
  }
  
  .subtitle {
    text-align: center; /* Centers the subtitle */
    margin-bottom: 10px; /* Space after the subtitle */
    font-weight: 200;
    font-size: 14px;
  }
  
  .mat-option-text {
    display: flex;
    align-items: center; /* Aligns text and image vertically */
  }
  
  .mat-option-text img {
    margin-right: 10px; /* Space between image and text */
  }
  
  button[color="primary"], button[color="basic"] {
    border: none;
    padding: 10px 20px;
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow */
  }
  
  button[color="primary"] {
    background-color: #173363; /* Theme primary color */
    color: white;
  }
  
  button[color="basic"] {
    background-color: lightgray;
    color: black;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  