<div class="signup-container">
    <mat-card>
      <h1>Regístrate en PencaUCU</h1>
      <p>Completa los datos para crear tu cuenta.</p>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput placeholder="alumno@ucu.edu.uy" formControlName="email" type="email">
          <mat-error *ngIf="signupForm.get('email')?.hasError('invalidDomain')">
            Regístrate con tu correo UCU.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstName" type="text">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName" type="text">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Carrera</mat-label>
          <input type="text" matInput formControlName="major" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Repetir Contraseña</mat-label>
          <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
  
        <div *ngIf="signupForm.errors?.['mismatch']" class="error-message">
          Las contraseñas no coinciden
        </div>
  
        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="submitted">
          <ng-container *ngIf="!submitted; else loading">
            Crear cuenta
          </ng-container>
          <ng-template #loading>
            <mat-progress-spinner
              [diameter]="20"
              mode="indeterminate"
              color="primary"
              class="button-loader">
            </mat-progress-spinner>
          </ng-template>
        </button>
      </form>
      <div class="signup">
        ¿Ya tienes una cuenta? <a routerLink="/">Inicia sesión</a>
      </div>
    </mat-card>
  </div>
  