body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .content {
    margin-left: 250px;  /* Adjust to match the sidenav width */
    padding: 20px;
  }
  
  .profile-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-bottom: 20px; 
  }
  
  .crear-partido-button {
    background: #5cb85c; /* A green background for a creation button */
    border-radius: 4px; /* Mildly rounded corners for a rectangular shape */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: auto; /* Automatic width to fit content */
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* White text for visibility */
    padding: 0 20px; /* Horizontal padding */
    font-size: 16px; /* Font size for the text inside the button */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .crear-partido-button mat-icon {
    font-size: 24px; /* Icon size */
    margin-right: 8px; /* Space between icon and text */
  }
  
  
  
  .content {
    padding-top: 40px;
  }

  mat-tab-group {
    margin-top: 60px; /* Adjust the value as needed */
  }

  
  