body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .sidenav {
    position: fixed;
    width: 250px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #173363;
    border-radius: 10px;
  }
  
  .sidenav-header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fafafa;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .sidenav-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #fafafa;
    text-decoration: none;
    font-size: 14px;
  }
  
  .menu-item:hover {
    background-color: #274a80;
    border-radius: 20px;
  }
  
  mat-icon {
    font-family: "Material Icons";
    font-size: 24px;
    margin-right: 15px;
  }
  
  .sidenav-footer {
    padding: 20px;
  }
  
  .logout {
    color: red;
  }
  