
<div class="match-card">
  <div class="team-info">
    <img
      [src]="team1?.url_logo"
      alt="{{ team1?.name }} logo"
      class="team-logo"
    />
    <div class="team-name">{{ team1?.name }}</div>
  </div>

  <div class="match-status">
    <div *ngIf="matchStatus === 'Próximo'">
      <button class="action-button" *ngIf="!predictionExists" (click)="addPrediction()">
        Ingresar Predicción
      </button>
      <div *ngIf="predictionExists" class="prediction-details">
        <span>Tu Predicción: {{ prediction?.goals_local }} - {{ prediction?.goals_visitor }}</span>
        <button class="edit-button" (click)="addPrediction()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="matchStatus === 'En curso'" class="live-indicator">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Red_circle.gif" alt="Live" class="live-gif">
      <span>Live</span>
    </div>
    <div *ngIf="matchStatus === 'Finalizado'">
      <div class="score">
        {{ match?.goals_local }} - {{ match?.goals_visitor }}
      </div>
      <div *ngIf="predictionExists" class="prediction-details">
        Tu predicción fue: {{ prediction?.goals_local }} - {{ prediction?.goals_visitor }}
        <span>Ganaste {{ calculatePoints() }} puntos!</span>
      </div>
    </div>
  </div>

  <div class="team-info">
    <img
      [src]="team2?.url_logo"
      alt="{{ team2?.name }} logo"
      class="team-logo"
    />
    <div class="team-name">{{ team2?.name }}</div>
  </div>

  <div class="match-details">
    <div>
      {{
        match?.match_date
          | date : "d 'de' MMMM 'de' yyyy, H'hs'" : "+0000" : "es"
      }}
    </div>
    <div>{{ matchStatus }}</div>
  </div>
</div>
